html body {
    background-color: #ececec;
    color: #343a40;
}

a {
    color: #479183;
    /*font-weight: bold;*/
}

a:hover {
    color: #326259;
}

div.footer-text {
    color: #9a9a9a;
}

.rowTrackBoardSatus {
    visibility: hidden;
}

.rcsbElement_compositeBlockSequence rect {
    /*noinspection CssInvalidPropertyValue*/
    /*stroke: #9a9a9a0 !important;*/
    fill-opacity: 1;
}

.rcsbElement_compositeBlockSequence2 rect {
    /*noinspection CssInvalidPropertyValue*/
    /*stroke: #9a9a9a0 !important;*/
    fill-opacity: 1;
}

.search-result-header {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #9dabb9;
    margin-bottom: -10px;
}

.search-page-result {
    /*border: 1px solid #343a40;*/
    /*padding-bottom: 12px;*/
    padding-left: 15px;
    padding-right: 10px;
    /*margin-bottom: 8px;*/
}

.push-flex {
    margin-left: auto;
    margin-top: 3px;
}

.left-flex {
    margin-left: 15px;
    margin-top: 3px;
}

.right-flex {
    margin-right: 15px;
}

.disease-red {
    background-color: #ff818157;
}

td, th {
  border: 1px solid #343a40;
  text-align: left;
  padding: 8px;
}

ul.browse-list {
    list-style-type: square;
    font-size: 160%;
}

h1.lonely {
    margin-top: 25px;
}

h2.lonely {
    margin-bottom: 15px;
    margin-top: 20px;
    color: #343a40;
}

a.big-entry-link {
    font-size: 120%;
    color: #326259;
}

a.big-entry-link:visited {
    color: #326259;
}

span.evidence {
    font-weight: 700;
}

table.interaction-data {
    margin-top: 15px;
    margin-bottom: 20px;
}

table.interaction-data td,
table.interaction-data th {
    border: 0;
    padding: 1px 8px 1px 1px;
    font-size: small;
}

/*table.interaction-data td {*/
/*    padding-left: 8px;*/
/*    font-size: small;*/
/*}*/

/*prevent cell collapse*/
td:empty::after{
    content: "\00a0";
}

.interactions-header {
    margin-bottom: 30px;
}

h3.entry-category {
    margin-top: 40px;
    /*border-bottom: 2px solid #479183;*/
    margin-bottom: -2px;
}

table.isoform-table {
    margin-top: 15px;
}

p.isoform-p {
    font-family: monospace;
    font-size: 13px;
    margin-bottom: 1px;
}

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 142px;
    left: 90px;
    /*background: #343a40;*/
    overflow-x: hidden;
    padding: 8px 0;
    border: 4px solid #343a40;
}

.sidenav {
  height: 100%;
  width: 134px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343a40;
  overflow-x: hidden;
  padding-top: 137px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

h4.fingerprint-category {
    margin-top: 18px;
}

tr.partner-psd-row td {
    background-color: #bbd7ce;
}

p.server-description {
    margin-top: 28px;
}

div.description-div {
    margin-left: 41px;
    border-left-width: 4px;
    border-left-style: solid;
    padding-left: 10px;
}

div.manual-content {
    text-align: justify;
}

div.manual-content2 {
    text-align: justify;
    margin-left: 30px;
}

div.manual-content3 {
    text-align: justify;
    margin-left: 60px;
}

img.legend {
    display: block;
    margin-left: 163px;
    margin-top: 10px;
    /*margin-right: auto;*/
    width: 550px;
}

img.isoform-legend {
    display: block;
    margin-left: 202px;
    margin-top: 10px;
    /*margin-right: auto;*/
    width: 550px;
}

div.rcsbFvRowMark {
    display: none !important;
}

form.main-query {
    display: inline-flex;
}

div.search-fields {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
}

div.entry-menu-item {
    display: inline-flex;
    border-bottom: 2px solid #479183;
    margin-bottom: 6px;
    width: 100%;
    margin-top: -10px;
}

img.tooltip_icon {
    margin-top: 40px;
    margin-left: 10px;
}

img.tooltip_icon {
    opacity: 0.8;
    margin-top: 40px;
    margin-left: 10px;
}

.tooltip_icon:hover {
  opacity: 1;
}

.tooltip > .tooltip-inner {
    width: 200px;
    background-color: #343a40;
    color: rgba(255,255,255,.75);
    padding: 10px;
    font-size: 14px;
    text-align: left;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

p.main-title {
    color: rgba(255,255,255,.75);
    font-size: 30px;
    max-width: 380px;
    margin-left: 20px;
}

p.main-title sup {
    font-size: 15px;
}

.cookieConsentContainer {
	z-index: 999;
	width: 350px;
	min-height: 20px;
	box-sizing: border-box;
	padding: 30px 30px 30px 30px;
	background: #343a40;
	overflow: hidden;
	position: fixed;
    bottom: 30px;
	right: 30px;
	display: none;
}

.cookieConsentContainer .cookieTitle a {
	font-family: OpenSans, arial, "sans-serif";
	color: #FFFFFF;
	font-size: 22px;
	line-height: 20px;
	display: block;
}

.cookieConsentContainer .cookieDesc p {
	margin: 0;
	padding: 0;
	font-family: OpenSans, arial, "sans-serif";
	color: #FFFFFF;
	font-size: 13px;
	line-height: 20px;
	display: block;
	margin-top: 10px;
}

.cookieConsentContainer .cookieDesc a {
	font-family: OpenSans, arial, "sans-serif";
	color: #FFFFFF;
	text-decoration: underline;
}

.cookieConsentContainer .cookieButton a {
	display: inline-block;
	font-family: OpenSans, arial, "sans-serif";
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	margin-top: 14px;
	background: #000000;
	box-sizing: border-box;
	padding: 15px 24px;
	text-align: center;
	transition: background 0.3s;
}

.cookieConsentContainer .cookieButton a:hover {
	cursor: pointer;
	background: #3E9B67;
}

@media (max-width: 980px) {
	.cookieConsentContainer {
		bottom: 0px !important;
		left: 0px !important;
		width: 100%  !important;
	}
}

/*form.first-search {*/
/*    padding-right: 16px;*/
/*}*/

img.picto {
    width: 200px;
}

img.browse-pic {
    width: 120px;
}

img.manual-image {
    width: 1050px;
    border: 1px solid;
    margin-bottom: 20px;
}

ul.faq-answer {
    padding-bottom: 20px;
}

p.interaction-title {
    display: none;
}
