html body {
    background-color: #ececec;
    color: #343a40;
}

a {
    color: #479183;
    /*font-weight: bold;*/
}

a:hover {
    color: #326259;
}

div.footer-text {
    color: #9a9a9a;
}

.rowTrackBoardSatus {
    visibility: hidden;
}

.rcsbElement_compositeBlockSequence rect {
    /*noinspection CssInvalidPropertyValue*/
    /*stroke: #9a9a9a0 !important;*/
    fill-opacity: 1;
}

.rcsbElement_compositeBlockSequence2 rect {
    /*noinspection CssInvalidPropertyValue*/
    /*stroke: #9a9a9a0 !important;*/
    fill-opacity: 1;
}

.search-result-header {
    display: flex;
    align-items: flex-start;
}

.search-page-result {
    /*border: 1px solid #343a40;*/
    /*padding-bottom: 12px;*/
    padding-left: 15px;
    padding-right: 10px;
    /*margin-bottom: 8px;*/
}

.push-flex {
    margin-left: auto;
    margin-top: 3px;
}

.left-flex {
    margin-left: 15px;
    margin-top: 3px;
}

.right-flex {
    margin-right: 15px;
}

.disease-red {
    background-color: indianred;
}

td, th {
  border: 1px solid #343a40;
  text-align: left;
  padding: 8px;
}

ul.browse-list {
    list-style-type: square;
    font-size: 160%;
}

h1.lonely {
    margin-top: 25px;
}

h2.lonely {
    margin-bottom: 15px;
    margin-top: 20px;
    color: #343a40;
}

a.big-entry-link {
    font-size: 120%;
    color: #326259;
}

a.big-entry-link:visited {
    color: #326259;
}

span.evidence {
    font-weight: 700;
}

table.interaction-data {
    margin-top: 15px;
    margin-bottom: 20px;
}

table.interaction-data td,
table.interaction-data th {
    border: 0;
    padding: 1px 8px 1px 1px;
    font-size: small;
}

/*table.interaction-data td {*/
/*    padding-left: 8px;*/
/*    font-size: small;*/
/*}*/

/*prevent cell collapse*/
td:empty::after{
    content: "\00a0";
}

.interactions-header {
    margin-bottom: 30px;
}

h3.entry-category {
    margin-top: 40px;
    border-bottom: 2px solid #479183;
}

table.isoform-table {
    margin-top: 15px;
}

p.isoform-p {
    font-family: monospace;
    font-size: 13px;
    margin-bottom: 1px;
}

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 142px;
    left: 90px;
    /*background: #343a40;*/
    overflow-x: hidden;
    padding: 8px 0;
    border: 4px solid #343a40;
}

.sidenav {
  height: 100%;
  width: 134px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343a40;
  overflow-x: hidden;
  padding-top: 137px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

h4.fingerprint-category {
    margin-top: 18px;
}

tr.partner-psd-row td {
    background-color: #bbd7ce;
}

p.server-description {
    margin-top: 28px;
}

div.description-div {
    margin-left: 41px;
    border-left-width: 4px;
    border-left-style: solid;
    padding-left: 10px;
}

div.manual-content {
    text-align: justify;
}