html body {
    background-color: #d1eac9a6;
}

div.footer-text {
    color: #9a9a9a;
}

.rowTrackBoardSatus {
    visibility: hidden;
}

.rcsbElement_compositeBlockSequence rect {
    /*noinspection CssInvalidPropertyValue*/
    /*stroke: #9a9a9a0 !important;*/
    fill-opacity: 1;
}

.rcsbElement_compositeBlockSequence2 rect {
    /*noinspection CssInvalidPropertyValue*/
    /*stroke: #9a9a9a0 !important;*/
    fill-opacity: 1;
}

.search-result-header {
    display: flex;
    align-items: flex-start;
}

.search-page-result {
    border: 2px solid #343a40;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 10px;
    margin-bottom: 4px;
}

.push-flex {
    margin-left: auto;
}

.left-flex {
    margin-left: 15px;
}