{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}dreadfort!{% endblock %}</title>
{#    {% bootstrap_css %}#}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>

    <!-- Bootstrap files (jQuery first, then Popper.js, then Bootstrap JS) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/@bioinsilico/rcsb-saguaro@0.9.10/dist/rcsb-saguaro.js" type="text/javascript" defer></script>
{#    <script type="text/javascript" src="{% static 'js/rcsb-saguro.js' %}" defer></script>#}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <img src="{% static 'images/placeholder.png' %}" alt="Girl in a jacket" width="100" height="100">
        <button class="navbar-toggler my-2" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-column align-items-start ml-lg-2 ml-0" id="navbarCollapse">
            <form action="/home" method="GET" class="form-inline py-4 mx-auto">
              <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Browse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Downloads</a>
                </li>
            </ul>
        </div>
        <img src="{% static 'images/placeholder.png' %}" alt="Girl in a jacket" width="100" height="100">
    </div>
</nav>
{#<div class="container mt-5 pt-5">#}
{#    <h1>Hi.</h1>#}
{#    <p class="lead">This is a Bootstrap 4 example.</p>#}
{#    <p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut semiotics,#}
{#        raw denim deep v taxidermy messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh synth chillwave meditation. Shabby#}
{#        chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.</p>#}
{##}
{#</div>#}
<div class="container mt-1 pt-1">
{#    <div id="pfv" style="margin-top:10px; margin-bottom:117px" ></div>#}
    <main>
        {% block content %}
        {% endblock %}
    </main>
</div>
<div class="wrapper flex-grow-1"></div>
<footer class="navbar navbar-dark bg-dark mt-4">
    <div class="container">
        <div class="footer-text small">אֲנִי-אָמַרְתִּי, אֱלֹהִים אַתֶּם;    וּבְנֵי עֶלְיוֹן כֻּלְּכֶם. אָכֵן, כְּאָדָם תְּמוּתוּן;    וּכְאַחַד הַשָּׂרִים תִּפֹּלוּ.</div>
{#        <div class="w-100 text-right align-self-end">Little baby baby</div>#}
    </div>
</footer>
</body>
</html>