{% extends 'base.html' %}
{% load static %}

{% block title %}PSINDB{% endblock %}

{% block content %}
    <h1 class="lonely">Downloads</h1>

{#    <div class="manual-content">#}
{#        <h2>Download database</h2>#}
        <p>
            <a href="{% static 'download/PSINDB1.0_mitab2.5.tsv' %}">PSINDB1.0_mitab2.5.tsv</a>
            - PSI-MI TAB 2.5 Format (contains interactions curated by the PSINDB team)
        </p>
        <p>
            <a href="{% static 'download/experimental_mitab25.tsv' %}">experimental_mitab25.tsv</a>
            -
        </p>
        <p>
            <a href="{% static 'download/PSINDB_mitab25.tsv' %}">PSINDB_mitab25.tsv</a>
            -
        </p>
        <p>
            <a href="{% static 'download/merged_binding.txt' %}">merged_binding.txt</a>
            -
        </p>
    <p>More download formats coming soon.</p>
{#    </div>#}

{% endblock %}