{% extends 'base.html' %}
{% load static %}

{% block title %}PSINDB{% endblock %}

{% block content %}
    <h1>{{ uniprot_id }}</h1>
    <p>GO: {{ db_data.go }}</p>
    <p>g2c: {{ db_data.g2c }}</p>
    <p>SynGO: {{ db_data.SynGO }}</p>
    <p>Functions: {{ db_data.Functions }}</p>
    <h3 class="entry-category">Protein features</h3>
    <div id="pfv-{{ uniprot_id }}" style="margin-top:15px" ></div>
    <script type="text/javascript">
    {% autoescape off %}
    {{ features_graph_js }}
    {% endautoescape %}
    </script>

    <h3 class="entry-category">Partners with known interacting regions</h3>
    {% for partner in partners %}
        <div id="pfv-{{ partner.name }}" style="margin-top:15px" ></div>
        <script type="text/javascript">
        {% autoescape off %}
        {{ partner.connectivity_js }}
        {% endautoescape %}
        </script>
    {% endfor %}





    <h3 class="entry-category">Isoforms</h3>

    <div id="pfv-isoform" style="margin-top:15px" ></div>
    <script type="text/javascript">
    {% autoescape off %}
    {{ isoforms.connectivity }}
    {% endautoescape %}
    </script>

    <table class="isoform-table">
    <tr>
        <td>Canonical [{{ isoforms.canonical_name }}]</td>
        <td>
            {% for line in isoforms.canonical_seq %}
            <p class="isoform-p">{{ line }}</p>
            {% endfor %}
        </td>
    </tr>

    {% for isoform in isoforms.isoforms %}
        <tr>
        <td>Isoform [{{ isoform.0 }}]</td>
        <td>
            {% for line in isoform.1 %}
            <p class="isoform-p">{{ line }}</p>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}

    </table>










    <h3 class="entry-category">Disease</h3>
    <table class="interaction-data">
    <tr>
        <th>Position</th>
        <th>Amino acid</th>
        <th>Mutation</th>
        <th>Disease</th>
    </tr>
    {% for disease in diseases %}
        {% if disease.in_region == "yes" %}
        <tr class="disease-red">
        {% else %}
        <tr>
        {% endif %}

        <td>{{ disease.position }}</td>
        <td>{{ disease.original }}</td>
        <td>{{ disease.mutation }}</td>
        <td>{{ disease.descr }}</td>
    </tr>
    {% endfor %}
    </table>

    <h3 class="entry-category">Linear motifs</h3>
    <table class="interaction-data">
    <tr>
        <th>ELM instance</th>
        <th>Name</th>
        <th>Type</th>
        <th>Start</th>
        <th>End</th>
    </tr>
    {% for linear_motif in linear_motifs %}
        {% if linear_motif.in_region == "yes" %}
        <tr class="disease-red">
        {% else %}
        <tr>
        {% endif %}

        <td>{{ linear_motif.instance_ref }}</td>
        <td>{{ linear_motif.elm_ref }}</td>
        <td>{{ linear_motif.elm_type }}</td>
        <td>{{ linear_motif.start_pos }}</td>
        <td>{{ linear_motif.end_pos }}</td>
    </tr>
    {% endfor %}
    </table>

    <h3 class="entry-category">Fingerprint</h3>
    <h4>Molecular function</h4>
    <table class="interaction-data">
    <tr>
        <th>Term</th>
        <th>Name</th>
        <th>Count</th>
        <th>Level</th>
    </tr>
    {% for fp in fp_mol_func %}
    <tr>
        <td>{{ fp.term_id }}</td>
        <td>{{ fp.des }}</td>
        <td>{{ fp.ontology_number }}</td>
        <td>{{ fp.ontology_level }}</td>
    </tr>
    {% endfor %}
    </table>

    <h4>Biological process</h4>
    <table class="interaction-data">
    <tr>
        <th>Term</th>
        <th>Name</th>
        <th>Count</th>
        <th>Level</th>
    </tr>
    {% for fp in fp_biol_proc %}
    <tr>
        <td>{{ fp.term_id }}</td>
        <td>{{ fp.des }}</td>
        <td>{{ fp.ontology_number }}</td>
        <td>{{ fp.ontology_level }}</td>
    </tr>
    {% endfor %}
    </table>
    <h4>Disease</h4>
    <table class="interaction-data">
    <tr>
        <th>Term</th>
        <th>Name</th>
        <th>Count</th>
        <th>Level</th>
    </tr>
    {% for fp in fp_disease %}
    <tr>
        <td>{{ fp.term_id }}</td>
        <td>{{ fp.des }}</td>
        <td>{{ fp.ontology_number }}</td>
        <td>{{ fp.ontology_level }}</td>
    </tr>
    {% endfor %}
    </table>

    <h3 class="entry-category">Network</h3>
    <interaction-viewer accession="{{ uniprot_id }}"></interaction-viewer>

    <h3 class="entry-category">Partners</h3>
    <table class="interaction-data">
    <tr>
        <th>Uniprot ID</th>
        <th>Details</th>
        <th>Highest evidence</th>
        <th>Localizing into PSD</th>
    </tr>
    {% for partner in partners_list %}
        <tr>
        <td>{{ partner.name }}</td>
        <td>
            {% if partner.is_psd %}
            <a href="{{ partner.entry_link }}">[view entry]</a>
            {% endif %}
            <a href="{{ partner.interaction_link }}">[view interactions]</a>
        </td>
        <td>{{ partner.highest_evidence }}</td>
        {% if partner.is_psd %}
            <td>
                yes
            </td>
        {% else %}
            <td>no</td>
        {% endif %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}