{% extends 'base.html' %}
{% load static %}

{% block title %}PSINDB{% endblock %}

{% block sidenav %}
<div class="sidenav">
    <a href="#features">Features</a>
    <a href="#interacitons">Interactions</a>
    <a href="#isoform">Isoform</a>
    <a href="#disease">Disease</a>
    <a href="#linear-motifs">Linear motifs</a>
    <a href="#fingerprint">Fingerprint</a>
    <a href="#network">Network</a>
    <a href="#interacting-partners">All partners</a>
</div>
{% endblock %}

{% block content %}
    <h1>{{ uniprot_id }}</h1>


    <div class="entry-menu-item">
        <h3 id="evidences" class="entry-category">Evidences for PSD localization</h3>
        <img class="tooltip_icon" src="{% static 'images/help-circle.svg' %}" data-toggle="tooltip" data-placement="right"
             title="Four resources have been used to define the postsynaptic density proteome: SynaptomeDB, G2C , SynGO and Gene ontology annotations">
    </div>
    <div class="container">
        <div class="row">
            <div class="right-flex"><span>GO</span>
            {% if db_data.go != "no" %}
                <img src="{% static 'images/check-circle.svg' %}">
            {% else %}
                <img src="{% static 'images/circle.svg' %}">
            {% endif %}</div>
            <div class="right-flex">

            {% if db_data.g2c != "no" %}
                <a href="https://www.genes2cognition.org/db/Search?text={{ db_data.g2c }}" target="_blank" rel="noopener noreferrer">G2C</a>
                <img src="{% static 'images/check-circle.svg' %}">
            {% else %}
                <span>G2C</span>
                <img src="{% static 'images/circle.svg' %}">
            {% endif %}</div>

            <div class="right-flex">
            {% if db_data.SynGO != "no" %}
                <a href="https://syngoportal.org/gene.html?HGNC:{{ db_data.SynGO }}" target="_blank" rel="noopener noreferrer">SynGO</a>
                <img src="{% static 'images/check-circle.svg' %}">
            {% else %}
                <span>SynGO</span>
                <img src="{% static 'images/circle.svg' %}">
            {% endif %}</div>

            <div class="right-flex">
            {% if db_data.SynaptomeDB != "no" %}
                <a href="http://metamoodics.org/SynaptomeDB/synmain/synaptome_all_view.php?editid1={{ db_data.SynaptomeDB }}" target="_blank" rel="noopener noreferrer">SynaptomeDB</a>
                <img src="{% static 'images/check-circle.svg' %}">
            {% else %}
                <span>SynaptomeDB</span>
                <img src="{% static 'images/circle.svg' %}">
            {% endif %}</div>
        </div>
    </div>


    <div class="entry-menu-item">
        <h3 id="functions" class="entry-category">Functions</h3>
        <img class="tooltip_icon" src="{% static 'images/help-circle.svg' %}" data-toggle="tooltip" data-placement="right"
             title="Functional annotation was taken from UniProt">
    </div>
    {% autoescape off %}
    <p>{{ db_data.Functions }}</p>
    {% endautoescape %}


    <div class="entry-menu-item">
        <h3 id="features" class="entry-category">Protein features</h3>
        <img class="tooltip_icon" src="{% static 'images/help-circle.svg' %}" data-toggle="tooltip" data-placement="right"
             title="Structural, functional units and interacting regions mapped to the protein sequence.">
    </div>

    <div id="pfv-{{ uniprot_id }}-features" style="margin-top:15px" ></div>
    <script type="text/javascript">
    {% autoescape off %}
    {{ features_graph_js }}
    {% endautoescape %}
    </script>
    <img class="legend" src="{% static 'images/legend1.gif' %}">


    <div class="entry-menu-item">
        <h3 id="interacitons" class="entry-category">Binary interactions with known binding regions</h3>
        <img class="tooltip_icon" src="{% static 'images/help-circle.svg' %}" data-toggle="tooltip" data-placement="right"
             title="Shows all partners where the interacting regions was defined in the experiments.">
    </div>
    {% if partners %}
    <p>To display all evidence describing the interaction with a partner, click on the protein name left to the bars.</p>
    {% for partner in partners %}
        <div id="pfv-{{ partner.name }}" style="margin-top:15px" ></div>
        <script type="text/javascript">
        {% autoescape off %}
        {{ partner.connectivity_js }}
        {% endautoescape %}
        </script>
    {% endfor %}
    <img class="legend" src="{% static 'images/legend2.gif' %}">
    {% else %}
        <p>Interacting region for partners were not defined.</p>
    {% endif %}


    <div class="entry-menu-item" style="margin-bottom: 26px;">
        <h3 id="network" class="entry-category">Network</h3>
        <img class="tooltip_icon" src="{% static 'images/help-circle.svg' %}" data-toggle="tooltip" data-placement="right"
             title="Displays the highest scoring 50 interactions for the protein. Interactions were scored based on the number if independent evidences from different sources. For the exact calculation of scores visit the Server Manual.">
    </div>
    <interaction-viewer accession="{{ uniprot_id }}"></interaction-viewer>


    <div class="entry-menu-item">
        <h3 id="isoform" class="entry-category">Isoforms</h3>
        <img class="tooltip_icon" src="{% static 'images/help-circle.svg' %}" data-toggle="tooltip" data-placement="right"
             title="Both the isoforms and the interacting regions are displayed, making visible variants lacking the binding sites.">
    </div>
    {% if isoforms %}
    <div id="pfv-isoform" style="margin-top:15px" ></div>
    <script type="text/javascript">
    {% autoescape off %}
    {{ isoforms.connectivity }}
    {% endautoescape %}
    </script>
    <img class="isoform-legend" src="{% static 'images/legend3.gif' %}">
    {% else %}
        <p>No data found.</p>
    {% endif %}


    <div class="entry-menu-item">
        <h3 id="disease" class="entry-category">Disease-causing germline mutations</h3>
        <img class="tooltip_icon" src="{% static 'images/help-circle.svg' %}" data-toggle="tooltip" data-placement="right"
             title="Disease causing mutations associated with the protein together with the binding regions.">
    </div>
    {% if diseases %}

    <table class="interaction-data">
    <tr>
        <th>Position</th>
        <th>Amino acid</th>
        <th>Mutation</th>
        <th>Disease</th>
        <th>Overlap with binding region</th>
    </tr>
    {% for disease in diseases %}
        {% if disease.in_region == "yes" %}
        <tr class="disease-red">
        {% else %}
        <tr>
        {% endif %}

        <td>{{ disease.position }}</td>
        <td>{{ disease.original }}</td>
        <td>{{ disease.mutation }}</td>
        <td><a href="https://www.omim.org/entry/{{ disease.mim }}" target="_blank" rel="noopener noreferrer">{{ disease.descr }}</a></td>
        <td>
            {% for p in disease.partner %}
                {% if p %}
                [<a href="/interactions?id1={{ uniprot_id }}&id2={{ p }}">{{ p }}</a>]
                {% else %}
                -
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
        <p>No data found.</p>
    {% endif %}


    <div class="entry-menu-item">
        <h3 id="linear-motifs" class="entry-category">Linear motifs</h3>
        <img class="tooltip_icon" src="{% static 'images/help-circle.svg' %}" data-toggle="tooltip" data-placement="right"
             title="Annotated ELM instances for the protein together with the binding regions.">
    </div>
    {% if linear_motifs %}
    <table class="interaction-data">
    <tr>
        <th>ELM instance</th>
        <th>Name</th>
        <th>Type</th>
        <th>Start</th>
        <th>End</th>
        <th>Partner</th>
    </tr>
    {% for linear_motif in linear_motifs %}
        {% if linear_motif.in_region == "yes" %}
        <tr class="disease-red">
        {% else %}
        <tr>
        {% endif %}

        <td><a href="http://elm.eu.org/{{ linear_motif.instance_ref }}" target="_blank" rel="noopener noreferrer">{{ linear_motif.instance_ref }}</a></td>
        <td><a href="http://elm.eu.org/elms/{{ linear_motif.elm_ref }}" target="_blank" rel="noopener noreferrer">{{ linear_motif.elm_ref }}</a></td>
        <td>{{ linear_motif.elm_type }}</td>
        <td>{{ linear_motif.start_pos }}</td>
        <td>{{ linear_motif.end_pos }}</td>
        <td>
            {% for p in linear_motif.partner %}
                {% if p %}
                [<a href="interactions?id1={{ uniprot_id }}&id2={{ p }}">{{ p }}</a>]
                {% else %}
                -
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
        <p>No annotated instance was found. To search for linear motifs, use the ELM
            <a href="http://elm.eu.org/cgimodel.py?fun=Submit&swissprotId={{ uniprot_id }}" target="_blank" rel="noopener noreferrer">prediction server.</a></p>
    {% endif %}


    <div class="entry-menu-item">
        <h3 id="fingerprint" class="entry-category">Fingerprint</h3>
        <img class="tooltip_icon" src="{% static 'images/help-circle.svg' %}" data-toggle="tooltip" data-placement="right"
             title="Gene and Disease ontology terms were collected from the protein and its' interacting partners.
             The list shows the most frequent terms in the network of the protein. Terms can be sorted based on their name,
             frequency or their distance from the level (the higher number indicates more specific term).">
    </div>
    <h4 class="fingerprint-category">Molecular function</h4>
    {% if fp_mol_func %}
    <table id="dataTable-fp-mol" class="interaction-data">
    <thead>
        <tr>
            <th>Term</th>
            <th>Name</th>
            <th>%</th>
            <th>Distance from top the of the tree</th>
        </tr>
    </thead>
    <tbody>
    {% for fp in fp_mol_func %}
    <tr>
        <td><a href="http://amigo.geneontology.org/amigo/term/{{ fp.term_id }}" target="_blank" rel="noopener noreferrer">{{ fp.term_id }}</a></td>
        <td>{{ fp.des }}</td>
        <td>{{ fp.ontology_number|floatformat:4 }}</td>
        <td>{{ fp.ontology_level }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
        <p>No data found.</p>
    {% endif %}

    <h4 class="fingerprint-category">Biological process</h4>
    {% if fp_biol_proc %}
    <table id="dataTable-fp-bio" class="interaction-data">
    <thead>
        <tr>
            <th>Term</th>
            <th>Name</th>
            <th>%</th>
            <th>Distance from top the of the tree</th>
        </tr>
    </thead>
    <tbody>
        {% for fp in fp_biol_proc %}
        <tr>
            <td><a href="http://amigo.geneontology.org/amigo/term/{{ fp.term_id }}" target="_blank" rel="noopener noreferrer">{{ fp.term_id }}</a></td>
            <td>{{ fp.des }}</td>
            <td>{{ fp.ontology_number|floatformat:4 }}</td>
            <td>{{ fp.ontology_level }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% else %}
        <p>No data found.</p>
    {% endif %}

    <h4 class="fingerprint-category">Disease</h4>
    {% if fp_disease %}
    <table id="dataTable-fp-disease" class="interaction-data">
    <thead>
        <tr>
            <th>Term</th>
            <th>Name</th>
            <th>%</th>
            <th>Distance from top the of the tree</th>
        </tr>
    </thead>
    <tbody>
    {% for fp in fp_disease %}
    <tr>
        <td>{{ fp.term_id }}</td>
        <td>{{ fp.des }}</td>
        <td>{{ fp.ontology_number|floatformat:4 }}</td>
        <td>{{ fp.ontology_level }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
        <p>No data found.</p>
    {% endif %}


    <div class="entry-menu-item">
        <h3 id="interacting-partners" class="entry-category">All partners</h3>
        <img class="tooltip_icon" src="{% static 'images/help-circle.svg' %}" data-toggle="tooltip" data-placement="right"
             title="All interaction partners, including those proteins that were not associated with PSD yet">
    </div>
    <table id="dataTable-partners" class="interaction-data">
    <thead>
        <tr>
            <th>Uniprot ID</th>
            <th>Details</th>
            <th>Highest evidence</th>
            <th>Localizing into PSD</th>
        </tr>
    </thead>
    <tbody>
        {% for partner in partners_list %}
            {% if partner.is_psd %}
            <tr class="partner-psd-row">
            {% else %}
            <tr>
            {% endif %}
            <td>{{ partner.name }}</td>
            <td>
                {% if partner.is_psd %}
                <a href="{{ partner.entry_link }}">[view entry]</a>
                {% endif %}
                <a href="{{ partner.interaction_link }}">[view interactions]</a>
            </td>
            <td>{{ partner.highest_evidence }}</td>
            {% if partner.is_psd %}
                <td>
                    yes
                </td>
            {% else %}
                <td>no</td>
            {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#dataTable-partners').DataTable({
                "pageLength": 25
            });
            $('#dataTable-fp-mol').DataTable({
                "pageLength": 25,
                "order": [[ 2, "desc" ]]
            });
            $('#dataTable-fp-bio').DataTable({
                "pageLength": 25,
                "order": [[ 2, "desc" ]]
            });
            $('#dataTable-fp-disease').DataTable({
                "pageLength": 25,
                "order": [[ 2, "desc" ]]
            });
        });
    </script>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
{% endblock %}