{% extends 'base.html' %}
{% load static %}

{% block title %}PSINDB{% endblock %}

{% block sidenav %}
<div class="sidenav">
    <a href="#features">Features</a>
    <a href="#interacitons">Interactions</a>
    <a href="#isoform">Isoform</a>
    <a href="#disease">Disease</a>
    <a href="#linear-motifs">Linear motifs</a>
    <a href="#fingerprint">Fingerprint</a>
    <a href="#network">Network</a>
    <a href="#interacting-partners">Partners</a>
</div>
{% endblock %}

{% block content %}
    <h1>{{ uniprot_id }}</h1>


    <h3 id="evidences" class="entry-category">Evidences for PSD localization</h3>
    <div class="container">
        <div class="row">
            <div class="right-flex"><span>GO</span>
            {% if db_data.go != "no" %}
                <img src="{% static 'images/check-circle.svg' %}">
            {% else %}
                <img src="{% static 'images/circle.svg' %}">
            {% endif %}</div>
            <div class="right-flex">

            {% if db_data.g2c != "no" %}
                <a href="https://www.genes2cognition.org/db/Search?text=SQL2/column3">G2C</a>
                <img src="{% static 'images/check-circle.svg' %}">
            {% else %}
                <span>G2C</span>
                <img src="{% static 'images/circle.svg' %}">
            {% endif %}</div>

            <div class="right-flex">
            {% if db_data.SynGO != "no" %}
                <a href="https://syngoportal.org/gene.html?HGNC:{{ db_data.SynGO }}">SynGO</a>
                <img src="{% static 'images/check-circle.svg' %}">
            {% else %}
                <span>SynGO</span>
                <img src="{% static 'images/circle.svg' %}">
            {% endif %}</div>

            <div class="right-flex">
            {% if db_data.SynaptomeDB != "no" %}
                <a href="http://metamoodics.org/SynaptomeDB/synmain/synaptome_all_view.php?editid1={{ db_data.SynaptomeDB }}">SynaptomeDB</a>
                <img src="{% static 'images/check-circle.svg' %}">
            {% else %}
                <span>SynaptomeDB</span>
                <img src="{% static 'images/circle.svg' %}">
            {% endif %}</div>
        </div>
    </div>


    <h3 id="functions" class="entry-category">Functions</h3>
    <p>{{ db_data.Functions }}</p>



    <h3 id="features" class="entry-category">Protein features</h3>
    <div id="pfv-{{ uniprot_id }}" style="margin-top:15px" ></div>
    <script type="text/javascript">
    {% autoescape off %}
    {{ features_graph_js }}
    {% endautoescape %}
    </script>

    <h3 id="interacitons" class="entry-category">Partners with known interacting regions</h3>
    {% for partner in partners %}
        <div id="pfv-{{ partner.name }}" style="margin-top:15px" ></div>
        <script type="text/javascript">
        {% autoescape off %}
        {{ partner.connectivity_js }}
        {% endautoescape %}
        </script>
    {% endfor %}


    <h3 id="isoform" class="entry-category">Isoforms</h3>

    <div id="pfv-isoform" style="margin-top:15px" ></div>
    <script type="text/javascript">
    {% autoescape off %}
    {{ isoforms.connectivity }}
    {% endautoescape %}
    </script>


    <h3 id="disease" class="entry-category">Disease</h3>
    {% if diseases %}

    <table class="interaction-data">
    <tr>
        <th>Position</th>
        <th>Amino acid</th>
        <th>Mutation</th>
        <th>Disease</th>
    </tr>
    {% for disease in diseases %}
        {% if disease.in_region == "yes" %}
        <tr class="disease-red">
        {% else %}
        <tr>
        {% endif %}

        <td>{{ disease.position }}</td>
        <td>{{ disease.original }}</td>
        <td>{{ disease.mutation }}</td>
        <td>{{ disease.descr }}</td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
        <p>No data found.</p>
    {% endif %}

    <h3 id="linear-motifs" class="entry-category">Linear motifs</h3>

    {% if linear_motifs %}
    <table class="interaction-data">
    <tr>
        <th>ELM instance</th>
        <th>Name</th>
        <th>Type</th>
        <th>Start</th>
        <th>End</th>
    </tr>
    {% for linear_motif in linear_motifs %}
        {% if linear_motif.in_region == "yes" %}
        <tr class="disease-red">
        {% else %}
        <tr>
        {% endif %}

        <td>{{ linear_motif.instance_ref }}</td>
        <td>{{ linear_motif.elm_ref }}</td>
        <td>{{ linear_motif.elm_type }}</td>
        <td>{{ linear_motif.start_pos }}</td>
        <td>{{ linear_motif.end_pos }}</td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
        <p>No data found.</p>
    {% endif %}

    <h3 id="fingerprint" class="entry-category">Fingerprint</h3>
    <h4 class="fingerprint-category">Molecular function</h4>
    {% if fp_mol_func %}
    <table id="dataTable-fp-mol" class="interaction-data">
    <thead>
        <tr>
            <th>Term</th>
            <th>Name</th>
            <th>Count</th>
            <th>Level</th>
        </tr>
    </thead>
    <tbody>
    {% for fp in fp_mol_func %}
    <tr>
        <td><a href="http://amigo.geneontology.org/amigo/term/{{ fp.term_id }}">{{ fp.term_id }}</a></td>
        <td>{{ fp.des }}</td>
        <td>{{ fp.ontology_number }}</td>
        <td>{{ fp.ontology_level }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
        <p>No data found.</p>
    {% endif %}

    <h4 class="fingerprint-category">Biological process</h4>
    {% if fp_biol_proc %}
    <table id="dataTable-fp-bio" class="interaction-data">
    <thead>
        <tr>
            <th>Term</th>
            <th>Name</th>
            <th>Count</th>
            <th>Level</th>
        </tr>
    </thead>
    <tbody>
        {% for fp in fp_biol_proc %}
        <tr>
            <td>{{ fp.term_id }}</td>
            <td>{{ fp.des }}</td>
            <td>{{ fp.ontology_number }}</td>
            <td>{{ fp.ontology_level }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% else %}
        <p>No data found.</p>
    {% endif %}

    <h4 class="fingerprint-category">Disease</h4>
    {% if fp_disease %}
    <table id="dataTable-fp-disease" class="interaction-data">
    <thead>
        <tr>
            <th>Term</th>
            <th>Name</th>
            <th>Count</th>
            <th>Level</th>
        </tr>
    </thead>
    <tbody>
    {% for fp in fp_disease %}
    <tr>
        <td>{{ fp.term_id }}</td>
        <td>{{ fp.des }}</td>
        <td>{{ fp.ontology_number }}</td>
        <td>{{ fp.ontology_level }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
        <p>No data found.</p>
    {% endif %}


    <h3 id="network" class="entry-category">Network</h3>
    <interaction-viewer accession="{{ uniprot_id }}"></interaction-viewer>


    <h3 id="interacting-partners" class="entry-category">Partners</h3>
    <table id="dataTable-partners" class="interaction-data">
    <thead>
        <tr>
            <th>Uniprot ID</th>
            <th>Details</th>
            <th>Highest evidence</th>
            <th>Localizing into PSD</th>
        </tr>
    </thead>
    <tbody>
        {% for partner in partners_list %}
            {% if partner.is_psd %}
            <tr class="partner-psd-row">
            {% else %}
            <tr>
            {% endif %}
            <td>{{ partner.name }}</td>
            <td>
                {% if partner.is_psd %}
                <a href="{{ partner.entry_link }}">[view entry]</a>
                {% endif %}
                <a href="{{ partner.interaction_link }}">[view interactions]</a>
            </td>
            <td>{{ partner.highest_evidence }}</td>
            {% if partner.is_psd %}
                <td>
                    yes
                </td>
            {% else %}
                <td>no</td>
            {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#dataTable-partners').DataTable({
                "pageLength": 25
            });
            $('#dataTable-fp-mol').DataTable({
                "pageLength": 25
            });
            $('#dataTable-fp-bio').DataTable({
                "pageLength": 25
            });
            $('#dataTable-fp-disease').DataTable({
                "pageLength": 25
            });
        });
    </script>
{% endblock %}