{% extends 'base.html' %}
{% load static %}

{% block title %}Dreadfort{% endblock %}

{% block content %}
    {% if results %}
        {% if search_term %}
            <h2>Search results for "{{ search_term }}":</h2>
        {% endif %}
        {% if browse_term %}
            <h2>Browse results for "{{ browse_term }}":</h2>
        {% endif %}
        {% for result in results %}
            <div class="search-page-result">
                <div class="searctuah-result-header">
                    <div><p>UNIPROT ID: </p></div>
                    <div><a href="{% url 'entry' uniprot_id=result.protein_id %}">{{ result.protein_id }}</a></div>
                    <div class="push-flex"><span>Postsynaptic evidence:</span></div>
                    <div class="left-flex"><span>GO</span>
                    {% if result.evidence_go != "no" %}
                        <img src="{% static 'images/check-circle.svg' %}">
                    {% else %}
                        <img src="{% static 'images/circle.svg' %}">
                    {% endif %}</div>
                    <div class="left-flex"><span>G2C</span>
                    {% if result.evidence_g2c != "no" %}
                        <img src="{% static 'images/check-circle.svg' %}">
                    {% else %}
                        <img src="{% static 'images/circle.svg' %}">
                    {% endif %}</div>
                    <div class="left-flex"><span>SynGO</span>
                    {% if result.evidence_syngo != "no" %}
                        <img src="{% static 'images/check-circle.svg' %}">
                    {% else %}
                        <img src="{% static 'images/circle.svg' %}">
                    {% endif %}</div>
                    <div class="left-flex"><span>SynaptomeDB</span>
                    {% if result.evidence_synaptomedb != "no" %}
                        <img src="{% static 'images/check-circle.svg' %}">
                    {% else %}
                        <img src="{% static 'images/circle.svg' %}">
                    {% endif %}</div>
                </div>
                <div><span>Number of interacting partners: {{ result.num_interactions }}</span></div>
                <div id="pfv-{{ result.protein_id }}" style="margin-top:15px" ></div>
                <script type="text/javascript">
                {% autoescape off %}
                {{ result.insert_js }}
                {% endautoescape %}
                </script>
            </div>

        {% endfor %}
    {% else %}
        <ul>
        <li><a href="/?browse=scaffold">Scaffold</a></li>
        <li><a href="/?browse=cytoskeletal">Cytoskeletal</a></li>
        <li><a href="/?browse=membrane">Membrane</a></li>
        <li><a href="/?browse=cc">Coiled coil</a></li>
        <li><a href="/?browse=llps">Phase separation</a></li>
        <li><a href="/?browse=hub">HUB proteins</a></li>
        <li><a href="/?browse=Structure">With structural evidence</a></li>
        <li><a href="/?browse=Literature">With literature evidence</a></li>
        </ul>
    {% endif %}
{% endblock %}