{% extends 'base.html' %}
{% load static %}

{% block title %}PSINDB{% endblock %}

{% block content %}
    {% if results and not interaction_term %}
        {% if search_term %}
            <h2 class="lonely">Search results for "{{ search_term }}":</h2>
        {% endif %}
        {% if browse_term %}
            <h2>Browse results for "{{ browse_term }}":</h2>
        {% endif %}

        <table id="search-results" class="table table-striped table-sm">
            <thead class="table-dark">
            <tr>
                <td>Protein name</td>
                {% if not interaction_term %}
                    <td>Number of interacting partners</td>
                {% endif %}
{#            <td colspan="4">Postsynaptic evidence</td>#}
                <td>GO</td>
                <td>G2C</td>
                <td>SynGO</td>
                <td>SynaptomeDB</td>
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr>
                    <td>
                        <div><a class="big-entry-link"
                                href="{% url 'entry' uniprot_id=result.protein_id %}">{{ result.protein_id }}</a>
                        </div>

                    </td>
                    <td>{{ result.num_interactions }}</td>
                    <td>{% if result.evidence_go != "no" %}
                        <a href="https://www.ebi.ac.uk/QuickGO/annotations?geneProductId={{ result.evidence_go }}"
                           target="_blank" rel="noopener noreferrer">GO</a>
                        <img src="{% static 'images/check-circle.svg' %}">
                    {% else %}
                        <span class="evidence">GO</span>
                        <img src="{% static 'images/circle.svg' %}">
                    {% endif %}</td>
                    <td>{% if result.evidence_g2c != "no" %}
                        <a href="https://www.genes2cognition.org/db/Search?text={{ result.evidence_g2c }}"
                           target="_blank" rel="noopener noreferrer">G2C</a>
                        <img src="{% static 'images/check-circle.svg' %}">
                    {% else %}
                        <span class="evidence">G2C</span>
                        <img src="{% static 'images/circle.svg' %}">
                    {% endif %}</td>
                    <td>{% if result.evidence_syngo != "no" %}
                        <a href="https://syngoportal.org/gene.html?HGNC:{{ result.evidence_syngo }}" target="_blank"
                           rel="noopener noreferrer">SynGO</a>
                        <img src="{% static 'images/check-circle.svg' %}">
                    {% else %}
                        <span class="evidence">SynGO</span>
                        <img src="{% static 'images/circle.svg' %}">
                    {% endif %}</td>
                    <td>{% if result.evidence_synaptomedb != "no" %}
                        <a href="http://metamoodics.org/SynaptomeDB/synmain/synaptome_all_view.php?editid1={{ result.evidence_synaptomedb }}"
                           target="_blank" rel="noopener noreferrer">SynaptomeDB</a>
                        <img src="{% static 'images/check-circle.svg' %}">
                    {% else %}
                        <span class="evidence">SynaptomeDB</span><img src="{% static 'images/circle.svg' %}">
                    {% endif %}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

        <script>
            $(document).ready(function () {
                $('#search-results').DataTable({
                    dom: "<'row'<'col-md-12't>>",
                    order: [[1, "desc"]],
                    "columnDefs": [
                            {"orderable": false, "targets": [2, 3, 4, 5]},
                    ],
                    paging: false
                });
            });
        </script>
    {% endif %}

    {% if results and interaction_term %}
        <h2>Intreaction results for "{{ interaction_term }}":</h2>

        <table id="search-results" class="table table-striped table-sm">
            <thead class="table-dark">
            <tr>
                <td>UniProt ID 1</td>
                <td>UniProt ID 2</td>
                <td>Highest evidence</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr>
                    <td>
                        <div>
                            <a class="big-entry-link" href="{% url 'entry' uniprot_id=result.protein_id1 %}">
                                {{ result.protein_id1 }}
                            </a>
                        </div>
                    </td>
                    <td>
                        {% if result.protein_id2_is_ps %}
                        <div><a class="big-entry-link"
                                href="{% url 'entry' uniprot_id=result.protein_id2 %}">{{ result.protein_id2 }}</a>
                        </div>
                        {% else %}
                        <div><p style="font-size: 120%; margin-bottom: 0">{{ result.protein_id2 }}</p>
                        </div>
                        {% endif %}
                    </td>
                    <td>{{ result.evidence }}</td>
                    <td>
                        <div>
                            <a class="big-entry-link" href="/interactions?id1={{ result.protein_id1 }}&id2={{ result.protein_id2 }}">
                                [view interaction]
                            </a>
                        </div>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

        {% if results_limited %}
            <p>Results have been limited to 2000 entries. Please use a more specific search term.</p>
        {% endif %}

        <script>
            $(document).ready(function () {
                $('#search-results').DataTable({
                    dom: "<'row'<'col-md-12't>>",
                    order: [[0, "asc"]],
                    "columnDefs": [
                            {"orderable": false, "targets": [3]},
                    ],
                    paging: false
                });
            });
        </script>
    {% endif %}

    {% if error %}
        <h1 class="lonely">{{ error }}</h1>
    {% endif %}

    {% if not error and not results %}
        <h1 class="lonely">Welcome to the Postsynaptic Interaction Database!</h1>

        <p>The Postsynaptic Interaction Database is a comprehensive resource of the human postsynaptic (PS) binary
            protein-protein interactions. It contains experimental and computational evidence about interactions,
            along with structural and disease-related information about the human PS proteins.</p>
        <p>The PSINDB web-server provides data integration coupled with manual curation. PSINDB collects interaction
            evidence from several other resources. In addition our team also takes part in collecting and curating
            related
            papers to expedite the annotation of PS related proteins.</p>
        <p>PSINDB offers common format download and community standard curation process and data interpretation to
            ensure
            interoperability with other resources.</p>
        <p>PSINDB enables exploring proteins and their interactions. The database offers various visualizations for the
            data stored, where interacting regions, structural features, disease-causing mutations, and network
            information
            is easily accessible. PSINDB also displays detailed information about each interaction evidence, including
            but
            not limited to interaction detection method, experimental and biological role of participants.</p>
        <p>You can read more about the database in the descriptive article or in the database manual.</p>

        <div style="display: flex; justify-content: center; margin: 20px 0px 40px 0px;">
            <figure style="text-align: center; margin: 0px 20px 0px 20px;">
                <img class="picto" src="{% static 'images/picto_protein.gif' %}" alt="PSINDB logo">
                <figcaption> 2160 postsynaptic proteins</figcaption>
            </figure>

            <figure style="text-align: center; margin: 0px 20px 0px 20px;">
                <img class="picto" src="{% static 'images/picto_paper.gif' %}" alt="PSINDB logo">
                <figcaption> 11671 pubmed IDs</figcaption>
            </figure>

            <figure style="text-align: center; margin: 0px 20px 0px 20px;">
                <img class="picto" src="{% static 'images/picto_interaction.gif' %}" alt="PSINDB logo">
                <figcaption> 145395 unique binary interactions</figcaption>
            </figure>

            <figure style="text-align: center; margin: 0px 20px 0px 20px;">
                <img class="picto" src="{% static 'images/picto_experiment.gif' %}" alt="PSINDB logo">
                <figcaption> 135709 experimental evidence</figcaption>
            </figure>
        </div>

        <p>For the usage of the PSINDB homepage please refer to the server manual. If you find our database useful,
            please cite it:</p>
        <p><i>Zsofia E. Kalman, Daniel Dudola, Balint Meszaros, Zoltan Gaspari, Laszlo Dobson
            <br>PSINDB: The postsynaptic protein-protein interaction database
            <br>Volume 2022, 2022, baac007
        </i></p>

    {% endif %}

{% endblock %}
