{% extends 'base.html' %}
{% load static %}

{% block title %}PSINDB{% endblock %}

{% block content %}
    <h1 class="lonely">Log</h1>

    <ul class="faq-answer">
        <li>version 1.00 - initial release, reflecting the May 2021 state of source databases</li>
        <li>version 1.01 - several bug fixed, reflecting the July 2021 state of source databases</li>
        <li>version 1.02 - neuronal expression added</li>
        <li>version 1.03 - reflecting the May 2022 state of source databases. PDB mmcif file support added to pipeline</li>
        <li>version 1.04 - reflecting the March 2024 state of source databases</li>
    </ul>
{% endblock %}